/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td.status {
    display: flex;
    align-items: center;
}

.status {
    height: 60px
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 8px;
}

.status-dot.pending {
    background-color: orange;
}

.status-dot.completed {
    background-color: green;
}

.status-dot.rejected {
    background-color: red;
}

.status-text.pending {
    font-size: 14px;
    color: orange;
}

.status-text.completed {
    font-size: 14px;
    color: green;
}

.status-text.rejected {
    font-size: 14px;
    color: red;
}

.table-container {
    overflow-x: auto;
    padding: 20px;
}